@page
@model projektowanie_oprogramowania_final_project.Pages.Reservations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Reservation confirmed!</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.ChosenPayment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.ChosenPayment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Seats)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Reservation.Seats != null && Model.Reservation.Seats.Any())
            {
                @foreach (var seat in Model.Reservation.Seats)
                {
                    @Html.DisplayFor(model => seat.SeatNumber)
                }
            }
        </dd>
    </dl>
</div>