@page
@model projektowanie_oprogramowania_final_project.Pages.Reservations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ChosenPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].Seats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChosenPayment)
            </td>
            <td>
                @if (item.Seats != null && item.Seats.Any())
                {
                    @foreach (var seat in item.Seats)
                    {
                        @Html.DisplayFor(model => seat.SeatNumber)
                    }
                }
                </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ReservationId">Edit</a>  
                    <a asp-page="./Delete" asp-route-id="@item.ReservationId">Delete</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
