@page
@model projektowanie_oprogramowania_final_project.Pages.Cinemas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cinema</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cinema.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cinema.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cinema.ZipCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cinema.CinemaId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
