@page
@model projektowanie_oprogramowania_final_project.Pages.Showings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<div class="col-md-4">
<form  method="get">
    <div class="form-group">
            <label>Cinema</label>
            <select class="form-control" name="cinema_id">
            <option value="Please select"></option>
            @foreach (var cinema in ViewBag.Cinemas)
            {
                <option value="@cinema.CinemaId">@cinema</option>
            }
            </select>
    </div>
    <div class="form-group">
            <label>Date</label>
            <input name="dateTime" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <input type="submit" value="OK" class="btn btn-primary" />
    </div>

</form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Showing[0].Film)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Showing[0].Showtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Showing[0].Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Showing[0].Technology)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Showing[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Showing[0].Cinema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Showing[0].Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Showing) {
        <tr>
            <td>
                @(item.Film.ToString())
            </td>
            <td>
                @(item.Showtime)
            </td>
            <td>
                    @(item.Language)
            </td>
            <td>
                    @(item.Technology)
            </td>
            <td>
                    @(item.Price)
            </td>
            <td>
                    @(item.Cinema)
            </td>
            <td>
                    @(item.Room)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                {
                    <a asp-page="./Edit" asp-route-id="@item.ShowingId">Edit</a> 
                    <a asp-page="./Delete" asp-route-id="@item.ShowingId">Delete</a>
                }
                else if(User.Identity.IsAuthenticated){
                    <a asp-page="../Reservations/Create" asp-route-id="@item.ShowingId">Buy ticket</a> 
                }
                    <a asp-page="../Films/Details" asp-route-id="@item.FilmId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
