@page
@model projektowanie_oprogramowania_final_project.Pages.Films.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />

    <dl class="row">
        

        <div style="display: flex;">
            <img src="/@Model.Film.ImagePath" width=400 height=600 />
            <dl style="margin-left: 20px;">
                <dt>Title:</dt>
                <dd>@Model.Film.Title</dd>
                <dt>Director:</dt>
                <dd>@Model.Film.Director</dd>
                <dt>Release Date:</dt>
                <dd>@Model.Film.ReleaseDate.ToString("MMMM dd, yyyy")</dd>
                <dt>Running Time:</dt>
                <dd>@Model.Film.RunningTime.ToString(@"hh\:mm")</dd>
                <dt>Description:</dt>
                <dd>@Model.Film.Description</dd>
            </dl>
        </div>

    </dl>
</div>
<div>
    @if (User.IsInRole("Admin") || (User.IsInRole("Employee")))
    {
        <a asp-page="./Edit" asp-route-id="@Model.Film.FilmId">Edit</a>
    }
    <a href='javascript:history.go(-1)'>Back to List</a>
</div>
