@page
@model projektowanie_oprogramowania_final_project.Pages.Films.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Director)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.RunningTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.RunningTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.ImagePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Image)
        <dd class = "col-sm-10">
                @if (Model.Film.ImagePath == null)
                {
                                <img src="/images/no-image.jpg"/>
                }
                else
                {
                                    <img src="/@Model.Film.ImagePath"/>
                }
        </dd>

    </dl>
    <img class="img-thumbnail" src="@Html.DisplayFor(modelItem => Model.Film.Image)" id="detail_thumbnail"/>
</div>
<div>
    @if (User.IsInRole("Admin") || (User.IsInRole("Employee")))
    {
        <a asp-page="./Edit" asp-route-id="@Model.Film.FilmId">Edit</a>
    }
    <a asp-page="./Index">Back to List</a>
</div>
